/* @import url('./index'); */

.app-container{
  width: 100%;
  scroll-behavior: smooth;
}


main{
  margin-left: 5rem;
  background: rgba(0,0,0,0)
}

.btn-arrow{
  position: absolute;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1.25rem;
  transition: visibility calc(var(--transition-speed)*3) ease-in-out, opacity calc(var(--transition-speed)*1.5)  ease-in-out;
}

@media screen and (min-width: 481px) {

  .btn-arrow{
    margin: 1.5rem;
  }

}

@media screen and (min-width: 768px) {

  main{
    margin-left: 0;
    margin-top: 7.5rem;
  }

}


