@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
:root{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  --text-primary: #fff7f7ef;
  --text-secondary: #fffefe;
  --text-gray: #bebdbd;
  --body-primary: #1e1e1e;
  --body-secondary: #4b4a4a;
  --bg-primary: #1d252f;
  --bg-secondary: #191919;
  --bg-blue: #083b83;
  --bg-blue-hover: #06234d;
  --bg-hover: #1d252f26;
  --bg-img: #435463;
  --icon-primary: #274690;
  --transition-speed: 0.6s;
  --btn-primary: #00a7f5;
  --btn-primary-hover: #066d9c;
  --btn-secondary: #3153a4;
  --btn-secondary-hover: #1f3466;
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--body-primary);
  background-color: var( --text-secondary);
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: auto;
  height: 100vh;
}

body::-webkit-scrollbar{
  width: 0.75rem;
}

body::-webkit-scrollbar-track{
  background-color: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb{
  background-color: var(--bg-img);
}

.swal2-popup {
  font-size: 0.6rem !important;
}
